<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>登录页</title>
	<link rel="stylesheet" type="text/css" href="../static/css/login.css">
	<script type="text/javascript" src="../static/js/jquery-1.9.1.min.js"></script>
	<script type="text/javascript" src="../static/js/login.js"></script>
</head>
</head>
<body>
	<div class="container">
		<!-- 组件1 -->
		<div class="index-1">
			<img src="../static/img/black.png" id="black">
			<img src="../static/img/dou.png" id="dou">
			<img src="../static/img/bi.png" id="bi">
			<img src="../static/img/text_1.png" id="text_1">
			<img src="../static/img/text_2.png" id="text_2">
		</div>
		<!-- 组件2 -->
		<div class="index-2">
			<div class="img-word"><img src="../static/img/doubiword.png">
			</div>
			<form method="post">
				{{ form.hidden_tag() }}
				<div class="login">
					<div class="login-input">
						<span class="login-word">账号</span>
						<!--input type="text" -->
						{{ form.username }}
						<label class="login-logo login-logo-1"></label>
					</div>
					<div class="login-input">
						<span class="login-word">密码</span>
						<!--input type="text"-->
						{{ form.password }}
						<label class="login-logo login-logo-2"></label>
					</div>
					<div class="login-btn"><input type="submit" value="登录"></div>
					<div class="login-btn"><input type="submit" value="注册"></div>
				</div>
			</form>	
	    </div>
		
		<div class="footer">
		   <img src="../static/img/paopao.png" class="paopaoimg">	
		</div>
		<div style="clear: both"></div>
	</div>
</body>
</html>
